ion-content(style='margin-top:5rem')       
    table(align='center')               
        tr
            th#nombres.text-align-left Nombre
            th.text-align-left Edad
        tr
            td Kevin Asened Muños
            td 17
        tr 
            td Diego Martínez García
            td 22
        tr 
            td Natalia Fonseca Heredia
            td 19
        tr 
            td Karina Gámez Jiménez
            td 28
        