ion-content(style='margin-top:5rem')
    ion-fab(bottom='', right='', style='margin-bottom:10rem')
        button(ion-fab='',(click)='agregarEntrenador()') 
            ion-icon(name='add')     
    table(align='center')               
        tr
            th#nombres.text-align-left Nombre
            th.text-align-left Deporte
        tr
            td Marco Javier Alazco Cavas
            td Esgrima
        tr 
            td Astrid Ruvalcaba Ramos
            td Remo
        tr 
            td Daniel S치nchez Cuevas
            td Atletismo
        tr 
            td Alexa Luna Contretas
            td Tiro con arco
        tr 
            td Mario Felix Cervantes
            td Boxeo
        tr 
            td Arturo Corral Zavala
            td G. Artistica
        tr 
            td Jose Bernal Medina
            td TKD
        tr 
            td Adolfo Ruiz Inzunza
            td Remo
        tr 
            td Paul Carrillo L칩pez
            td Natacion
        tr 
            td Karen Acu침a Farf치n
            td Esgrima
        


