
ion-content(padding='')      
  .descripcion
    img.redonda.cover(src="/assets/imgs/fot.PNG", alt="", style='width: 150px; height:150px; margin:1rem')
    p.seccion Nombre
    p#atleta.descripcion Marco Mendoza Campos
    img(src="/assets/imgs/linea.svg", alt="", style='height:5px')
    p.seccion Deporte
    p#deporte.descripcion Atletismo
    
    img(src="/assets/imgs/linea.svg", alt="", style='height:5px')
    p.seccion Modalidad
    p#modalidad.descripcion Lanzamineto de disco    
    
    img(src="/assets/imgs/linea.svg", alt="", style='height:5px')
    p.seccion Entrenador
    p#entrenador.descripcion Javier Lobala Buniso
    ion-grid
      ion-row.justify-content-center
        img(src="/assets/imgs/linea.svg", alt="", style='height:5px')
        ion-col          
          p.seccion Edad
          p#edad.descripcion 27      
        ion-col           
          p.seccion Nacimiento
          p#nacimiento.descripcion 14/03/1992   
    img(src="/assets/imgs/linea.svg", alt="", style='height:5px')
    p.seccion Municipio
    p#municipio.descripcion Tijuana
  

