ion-content(style='margin-top:5rem')
    ion-fab(bottom='', right='', style='margin-bottom:10rem')
        button(ion-fab='',(click)='agregarAtleta()') 
            ion-icon(name='add')     
    table(align='center')               
        tr
            th#nombres.text-align-left Nombre
            th.text-align-left Deporte
        tr
            td Kevin Asened Muños
            td Remo
        tr 
            td Diego Martínez García
            td Hanball
        tr 
            td Natalia Fonseca Heredia
            td Natacion
        tr 
            td Karina Gámez Jiménez
            td Futbol
        tr 
            td Marco Mejía Alonso
            td TKD
        tr 
            td Armando Castillón Pereira
            td G. Artistica
        tr 
            td Raul Méndez Astrada
            td Natacion
        tr 
            td Rafael Espinoza Ochoa
            td Judo
        tr 
            td Gabriel Torres Galindo
            td Boxeo
      


