ion-content(padding='1rem 1rem')   
    #e4.ev
        p(style='margin-bottom:0px')  Competencia 4
        div(style='padding-right:6rem;padding-bottom:1rem')            
            ion-grid
                ion-row
                    ion-col
                        ion-label.evDatos(style='text-align:right') Bala
                    ion-col
                        ion-input#dato1.evDatos(placeholder="metros", style='width:10rem')            
                ion-row
                    ion-col
                        ion-label.evDatos(style='text-align:right') Disco
                    ion-col
                        ion-input#dato2.evDatos(placeholder="metros", style='width:10rem')            
            div(style='text-align:right')
                button(ion-button='', color='secondary', style='width:15rem') Enviar
            
    #e3.ev
        p(style='margin-bottom:0px')  Competencia 3
        div(style='padding-right:6rem')            
            ion-grid
                ion-row
                    ion-col
                        ion-label.evDatos(style='text-align:right') Bala
                    ion-col
                        ion-label#dato1.evDatos(placeholder="metros", style='width:10rem') 17.3      
                ion-row
                    ion-col
                        ion-label.evDatos(style='text-align:right') Disco
                    ion-col
                        ion-label#dato2.evDatos(placeholder="metros", style='width:10rem') 56.5
        

    #e2.ev
        p(style='margin-bottom:0px')  Competencia 2
        div(style='padding-right:6rem')            
            ion-grid
                ion-row
                    ion-col
                        ion-label.evDatos(style='text-align:right') Bala
                    ion-col
                        ion-label#dato1.evDatos(placeholder="metros", style='width:10rem') 19.3      
                ion-row
                    ion-col
                        ion-label.evDatos(style='text-align:right') Disco
                    ion-col
                        ion-label#dato2.evDatos(placeholder="metros", style='width:10rem') 58.5

    #e1.ev
        p(style='margin-bottom:0px')  Competencia 1
        div(style='padding-right:6rem')            
            ion-grid
                ion-row
                    ion-col
                        ion-label.evDatos(style='text-align:right') Bala
                    ion-col
                        ion-label#dato1.evDatos(placeholder="metros", style='width:10rem') 18.7      
                ion-row
                    ion-col
                        ion-label.evDatos(style='text-align:right') Disco
                    ion-col
                        ion-label#dato2.evDatos(placeholder="metros", style='width:10rem') 59.2