ion-content    
    .descripcion
        p.seccion Ranking MX
        ion-grid.m0
        ion-row
            ion-col
                p Bala
            ion-col
                p#mod-1(style='font-weight:bold') 1ro      
            ion-col    
                p Disco
            ion-col
                p#mod-2(style='font-weight:bold') 2do        
    ion-grid.m0
        ion-row            
            ion-col
                ion-item  
                    ion-label Desde
                    ion-select(interface='popover')
                        ion-option(value='a') 1990
                        ion-option(value='b') 1991
                        ion-option(value='c') 1992
                        ion-option(value='d') 1993
                        ion-option(value='e') 1994
                        ion-option(value='f') 1995
                        ion-option(value='g') 1996
                        ion-option(value='h') 1997
                        ion-option(value='i') 1998
                        ion-option(value='j') 1999
                        ion-option(value='k') 2000
                  
                ion-item  
                    ion-label Hasta
                    ion-select(interface='popover')
                        ion-option(value='a') 1990
                        ion-option(value='b') 1991
                        ion-option(value='c') 1992
                        ion-option(value='d') 1993
                        ion-option(value='e') 1994
                        ion-option(value='f') 1995
                        ion-option(value='g') 1996
                        ion-option(value='h') 1997
                        ion-option(value='i') 1998
                        ion-option(value='j') 1999
                        ion-option(value='k') 2000
    img(src="/assets/imgs/linea.svg", alt="", style='height:5px')
    
    #e1.ev
        p Prospectos a Juegos Olimpicos de la Juventud 2018
        p ...

    #e2.ev
        p Prospectos a Juegos Centroameticanos
        p ...

    #e3.ev
        p Prospectos a Juegos Olimpicos de Invierno
        p ...